{% extends 'base.html.twig' %}

{% block title %}Hello MeetingController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <ul>
        <ul>
            {% for m in meetings %}
                <li>
                    <strong>Name</strong>: {{ m.name }},
                    <strong>Event date</strong>: {{ m.eventDate|date('Y-m-d H:i:s') }},
                    <strong>Create date</strong>: {{ m.createdDate|date('Y-m-d H:i:s') }},
                    <strong>Address</strong>: {{ m.address }}
                    <div>
                        <h2>Participants:</h2>
                        <ul>
                            {% for p in m.meetingParticipants %}
                                {{ p.name}}
                            {% endfor %}
                        </ul>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </ul>
</div>
{% endblock %}
