{% extends 'base.html.twig' %}

{% block title%}New Meeting {% endblock %}

{% block body %}

    <h1>New meeting</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end (form) }}

{% endblock %}