{% extends 'base.html.twig' %}


{% block body %}

    <h2>Content:</h2>
    <ul>
        {% for element in content %}
            <li>{{ element|join(',') }}</li>
        {% endfor %}
    </ul>
{% endblock %}